{{#d-modal-body title="duration" }}
  <form class="form-horizontal">


{{projects-duration durationInput=durationString}}


  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "closeDuration") icon="chart-bar" class='btn-primary' label='close'}}
</div>
