{{#if context.topic.projects_task}}
<br>
<span>{{context.topic.projectsTaskBeginPretty}}</span>
<span>{{context.topic.projectsTaskDurationPretty}}</span>
<span>{{context.topic.projectsTaskEndPretty}}</span>



{{/if}}
