<h3>{{i18n 'category.projects_setting_heading'}}</h3>
<section class='field'>
  <label>
    {{input type="checkbox" checked=projectsEnabled}}
    {{i18n 'category.enable_projects'}}
  </label>
</section>
