<h3>{{i18n 'category.projects_setting_heading'}}</h3>
<section class="field">
  <label>
    {{input type="checkbox" checked=category.custom_fields.projects_enabled}}
    {{i18n 'category.enable_projects'}}
  </label>
</section>
